.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .footer-copyright {
    flex: 1;
    text-align: center;
    font-size: 14px; 
  }
  
  .footer-links {
    flex: 1;
    text-align: center;
    font-size: 14px; 
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }

  .footer-line {
    border-top: 0.5px solid #b4b3b3; 
    margin: 5% 20px 15px 20px ; 
    
   
  }