/* NewBookSection.css */

.new-book-section {
  padding: 2rem;
  background-color: #fafaf8; 
}

.new-book-section h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.book-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.book-card {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  scroll-snap-align: start;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-image {
  width:auto;
  height: auto;
  margin-top: 1rem;
  
}

.book-title {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.book-author {
  font-family: 'Dancing Script', cursive;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Scrollbar styling for better visibility */
.book-slider::-webkit-scrollbar {
  height: 8px;
}

.book-slider::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
